
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<br><br>
  <div class="wrapper">
    <form class="login-box"  [formGroup]="loginForm" (ngSubmit)="forgotPassword(forgotPsw.value)" #forgotPsw="ngForm">
      <div class="login-header">
        <span>Forgot Password</span>
      </div>
      
      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
        <div class="message" *ngIf="email.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>Email is required.</div>
        <div class="message" *ngIf="email.errors?.['email']"><i class="fa-solid fa-triangle-exclamation"></i>Email should be valid</div>
      </small>
     
      <div class="input_box">
        <input type="text" id="user" class="input-field"  formControlName="email" required>
        <label for="user" class="label">Email</label>
        <i class=" icon"><i class="fa fa-envelope" aria-hidden="true"></i></i>
      </div>

      <div class="input_box">
        <input type="submit" [disabled]="loginForm.invalid" class="input-submit" value="Forgot Password">
      </div>
      <div class="register">
        <span class="resend-email">If you don't receive email <button type="submit">Click here to resend</button></span>
        <span>Go back <a routerLink="/login">Login</a></span>
      </div>
    </form>
  </div>
