

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <div class="wrapper">
    <form class="login-box" [formGroup]="registerForm" (ngSubmit)="submitDetails()">
      <div class="login-header">
        <span>Register</span>
      </div>

      <small *ngIf="name.invalid && (name.dirty || name.touched)" class="block p-error">
      <div class="message" *ngIf="name.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>Name is required.</div>
      <div class="message" *ngIf="name.errors?.['pattern']"><i class="fa-solid fa-triangle-exclamation"></i>Enter a valid Name</div>
      </small>

      <div class="input_box">
        <input type="text" class="input-field"  formControlName="name" required>
        <label  class="label">Full Name</label>
        <i class="bx bx-user icon"></i>
      </div>

      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
        <div class="message" *ngIf="email.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>Email is required.</div>
        <div class="message" *ngIf="email.errors?.['email']"><i class="fa-solid fa-triangle-exclamation"></i>Email should be valid</div>
      </small>

      <div class="input_box">
        <input type="text"  class="input-field"  formControlName="email" required>
        <label  class="label">Email</label>
        <i class=" icon"><i class="fa fa-envelope" aria-hidden="true"></i></i>
      </div>

      <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
        <div class="message" *ngIf="password.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>Password is required.</div>
      </small>

      <div class="input_box">
        <p-floatLabel>
          <p-password class="input-field" [(ngModel)]="value" [toggleMask]="true" formControlName="password" required/>
            <label for="username">Password</label>
        </p-floatLabel>
        <i class="bx bx-lock-alt icon" id="togglePassword"></i>
      </div>

      <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
      <div class="message" *ngIf="confirmPassword.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Confirm the password </div>
      </small>
      <small class="block p-error" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
        Password should match
      </small>

      <div class="input_box">
        <input [type]="eye" type="password"  class="input-field" formControlName="confirmPassword" required>
        <label  class="label">Confirm Password</label>
        <i (click)="onClick()" *ngIf="!show" class="pi pi-eye" style="font-size: 1rem"></i>
        <i (click)="onClick()" *ngIf="show" class="pi pi-eye-slash" style="font-size: 1rem"></i>
        <i class="bx bx-lock-alt icon" id="togglePassword"></i>
      </div>

      <div class="remember-forgot">

        <div class="remember-me">
          <input type="checkbox" id="remember">&nbsp; 
          <label for="remember"> Remember me </label>
        </div>
        
      </div>

      <div class="input_box">
        <input type="submit" [disabled]="registerForm.invalid" class="input-submit" value="Ragister">
      </div>
      <div class="register">
        <span>If you have an account ? <a routerLink="/login">Login</a></span>
      </div>
    </form>
  </div>