<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper" [ngSwitch]="menuType" class="wrapper">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="nav-content">
        <p-button class="home-side-nav" icon="pi pi-bars" [link]="true" (onClick)="leftSidebar = true" />
      <div class="logo">
        <a routerLink="">
        <img class="logo-img" src="https://i.ibb.co/LRDshNz/img1.jpg" alt="ShopCart"> 
        <img class="logo-txt"  src="https://i.ibb.co/5rnWSTN/text-omg.jpg" alt="ShopCart">
      </a>
    </div>
       <!-- Without login Nabvar -->
      <ul class="links" *ngSwitchCase="'default'">
        <li><a class="nav-login" routerLink="user-login"><i class="fa-solid fa-user"></i></a></li>
        <li><a routerLink="login"><i class="fa fa-store"></i></a></li>
        <li routerLink="user-login"><a ><mat-icon matBadge="{{cartItems}}" aria-hidden="false"><i class="fa-solid fa-cart-shopping"></i></mat-icon></a></li>
      </ul>
      <!-- User login Nabvar -->
      <ul class="links" *ngSwitchCase="'user'">
        <li routerLink="cart"><a ><mat-icon matBadge="{{cartItems}}" aria-hidden="false"><i class="fa-solid fa-cart-shopping"></i></mat-icon></a></li>
      </ul>
      <!-- Seller login Nabvar -->
      <ul class="links" *ngSwitchCase="'seller'">
        <li><a routerLink="seller-home"><i class="fa fa-store"></i></a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form class="search-box">
      <input  type="text" placeholder="Search Something..." required>
      <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
    </form>
    <!-- Seller login Nabvar -->
    <ul class="links" *ngSwitchCase="'seller'">
      <p-button  type="button" [link]="true" (onClick)="sellerRightSidebar = true">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </p-button>
    </ul>
    <!-- User login Nabvar -->
    <ul class="links" *ngSwitchCase="'user'">
      <p-button  type="button" [link]="true" (onClick)="userRightSidebar = true">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </p-button>
    </ul>
  </nav>
</div>


<div class="card flex justify-content-center">

  <!-- Home Left Side Menu -->
<p-sidebar [(visible)]="leftSidebar">
    <div class=" flex justify-content-center">
      <ul [ngStyle]="{'list-style': 'none'}">
        <li>
          <a style="cursor: pointer; padding: 12px;">Category</a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;">Category</a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;">Category</a>
        </li>
      </ul>
  </div>
</p-sidebar>

  <!-- Seller Right Side Menu -->
<p-sidebar [(visible)]="sellerRightSidebar" position="right">
    <div class=" flex justify-content-center">
      <ul [ngStyle]="{'list-style': 'none'}">
        <li>
           <!-- Seller name with profile image -->
          <p-chip [ngStyle]="{'margin-top': '17px'}" label="{{SellerfullName}}" 
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar image"/>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-user">&nbsp;&nbsp;My Profile</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-bell">&nbsp;&nbsp;Notification</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-gear">&nbsp;&nbsp;Setting</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-lock">&nbsp;&nbsp;Privacy</i></a>
        </li><br>
        <hr><br>
        <li>
          <a (click)="sellerRightSidebar = false" style="cursor: pointer; padding: 12px; color: black;" (click)="SellerLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Sign-Out</a>
        </li>

      </ul>
  </div> 
</p-sidebar>

  <!-- User Right Side Menu -->
<p-sidebar [(visible)]="userRightSidebar" position="right">
    <div class=" flex justify-content-center">
      <ul [ngStyle]="{'list-style': 'none'}">
        <li>
           <!-- Seller name with profile image -->
          <p-chip [ngStyle]="{'margin-top': '17px'}" label="{{UserfullName}}" 
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar image"/>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-user">&nbsp;&nbsp;My Profile</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-truck-fast">&nbsp;&nbsp;Orders</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-heart">&nbsp;&nbsp;Whishlist</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-bell">&nbsp;&nbsp;Notification</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-gear">&nbsp;&nbsp;Setting</i></a>
        </li><br>
        <li>
          <a style="cursor: pointer; padding: 12px;"><i class="fa fa-lock">&nbsp;&nbsp;Privacy</i></a>
        </li><br>
        <hr><br>
        <li>
          <a (click)="userRightSidebar = false" style="cursor: pointer; padding: 12px; color: black;" (click)="UserLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Sign-Out</a>
        </li>

      </ul>
  </div> 
</p-sidebar>
</div>