.headerFont{
    font-family: Montserrat;
    font-size: 20px;
}
.productName{
    font-family: Jost;
    font-weight: 500;
}
.Summary{
    font-family: Montserrat;
    font-size: 14px;
}
.total-amount{
    font-family: Montserrat;
    font-size: 13px;
}
.fontStyle{
    font-family: Montserrat;
    font-weight: 500;
}
.py-5{
    margin-top: 40px;
}